 .header {
    background-color: var(--color-gray-light);
    padding: 5rem 5rem;
    border-radius: 3px 3px 0 0;


    &__image-box {
        padding: 0;
    }
    
    // &__img {
    //     width: 55%;        
    // }    
}

.sub {

    &__color-range-box { 

        height: 3rem;
    }

    &__color-range-img {
        width: 100%;
    }
}

.section-info {
    padding: 10rem 5rem;
    background-color: var(--color-gray-light);
}

.section-creators {
    padding: 10rem 5rem;
    background-color: var(--color-gray-light);
}

.section-contact {
    padding: 10rem 5rem;
    background-color: var(--color-gray-light);
}

.footer {
    margin-top: 2rem; 
    border-radius: 0 0 3px 3px;
    overflow: hidden;      
}